In [2]:
def add_numbers(a,b):
    return a+b
add=add_numbers(1,2)
print(add)

3

In [3]:
def even_or_odd(num):
    if num%2==0:
        return "even"
    else:
        return "odd"
even_or_odd(2)

'even'

In [4]:
def list_of_numbers(li):
    return len(li)
list_of_numbers([1,2,3,4,5])

5

In [5]:
def max_of_three_numbers(a,b,c):
    return max(a,b,c)
max_of_three_numbers(1,2,3)

3

In [6]:
def factorization(n):
    result=1
    for i in range(2,n+1):
        result=result*i
    return result
factorization(5)

120

In [7]:
def reverse_string(s):
    return s[::-1]
reverse_string("hello")

'olleh'

In [8]:
def is_palindrome(s):
    s=s.lower().replace(" "," ")
    return s==s[::-1]
is_palindrome("racecar")

True

In [9]:
def celsius_to_fahrenheit(celsius):
    return (celsius*9/5)+32
celsius_to_fahrenheit(25)

77.0

In [ ]:
def sum_all(*args):
    return sum(*args)
sum_all(1,2,3,4)

In [11]:
def create_proflit(**kwargs):
    return kwargs
create_proflit(name="john",age=25)

{'name': 'john', 'age': 25}

In [ ]:
def outer_function(x):
    def inner_function(y):
        return x+y
    return inner_function
outer_function(2)

In [12]:
def remove_duplication(lst):
    return list(set(lst))
remove_duplication([1,2,3,4,5,2,1,3,4])

[1, 2, 3, 4, 5]

In [ ]:
FOR LOOP

In [13]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
number=[1,2,3,4,5]
total=0
for num in number:
    total+=num
print(total)

15

In [15]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
word="python"
for char in word:
    print(char)

In [16]:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [17]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

CLASSES AND OBJECTS

In [25]:
class person :
    def __init__(self,name,age):
        self.name=name
        self.age=age
p=person("rohit",38)
print(p.name)
print(p.age)

rohit
38

In [35]:
class calculator:
    def __init__(self,a,c):
        self.a=a
        self.c=c
    def add(self):
        result=self.a+self.c
        return result
    def sub(self,s,z):
        return s-z
calc=calculator(1,2)
m=calc.add()
print(m)
n=calc.sub(5,1)
print(n)

3
4